<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<staticContent>
			<!--register some addtional mime types. Important: you must remove eventually existing types - else there will be a server error-->
			<remove fileExtension="webmanifest"/>
			<mimeMap fileExtension="webmanifest" mimeType="application/json" />
			<remove fileExtension="woff"/>
			<mimeMap fileExtension="woff" mimeType="application/font-woff" />
			<remove fileExtension="woff2"/>
			<mimeMap fileExtension="woff2" mimeType="application/font-woff" />
			<remove fileExtension=".json"/>
			<mimeMap fileExtension=".json" mimeType="application/json" />
			<remove fileExtension=".svg"/>
			<mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
		</staticContent>
	</system.webServer>
</configuration>