/*define a class that prevents touch*/ 
.notouch {
    -ms-touch-action: none;
    touch-action: none;
}

.nofocusframe {
    outline: none;
}

.gametable {
    border: 2px solid black;
    background-color: darkgray;
}

.gamecell {
    border: 4px solid burlywood;
    border-radius: 10px;
    font-size: 40px;
    font-weight: 700;
    color: rgb(59, 51, 51);
    background-color: rgb(85, 69, 69);
    transition: background-color 1.5s;
}

.gamecellcontent {
    align-content: center;
    text-align: center;
    min-height: 70px;
    min-width: 70px;
}

.scoreth {
    width: 200px
}

.scordtd {
    text-align: center
}

@keyframes heartbeat {
    0% {
        transform: scale( .75 );
    }

    40% {
        transform: scale( 1 );
    }


    80% {
        transform: scale( .75 );
    }

    100% {
        transform: scale( 1 );
    }
}
td[data-added="true"] {
    animation-duration: 1s;
    animation-name: heartbeat;
}


td[data-value="2"] {
    background-color: rgb(238, 228, 218);
}

td[data-value="4"] {
    background-color: rgb(237, 224, 200);
}

td[data-value="8"] {
    background-color: rgb(242, 177, 121);
}

td[data-value="16"] {
    background-color: rgb(245, 149, 99);
}

td[data-value="32"] {
    background-color: rgb(246, 124, 95);
}

td[data-value="64"] {
    background-color: rgb(246, 94, 59);
}

td[data-value="128"] {
    background-color: rgb(237, 207, 114);
}

td[data-value="256"] {
    background-color: rgb(237, 204, 97);
}

td[data-value="512"] {
    background-color: rgb(237, 200, 80);
}

td[data-value="1024"] {
    background-color: rgb(237, 197, 63);
}

td[data-value="2048"] {
    background-color: rgb(237, 194, 46);
}

.controlbutton {
    flex-basis: 80px;
    flex-grow: 0;
    flex-shrink: 0;
}

.icon-keepplaying {
    margin-right: 2px;
}

.icon-keepplaying::after {
    content: "\1F308";
}

.icon-won {
    color: lawngreen;
    margin-right: 2px;
}

.icon-won::after {
    content: "\1F600";
}

.icon-done {
    margin-right: 2px;
    color: darkorange;
}

.icon-done::after {
    content: "\1F622";
}

.form-check-input {
    clear: left;
}


.form-switch.form-switch-xl {
    margin-bottom: 1rem; /* JUST FOR STYLING PURPOSE */
}

    .form-switch.form-switch-xl .form-check-input {
        height: 1.5rem;
        width: calc(2rem + 0.75rem);
        border-radius: 5rem;
    }
    .form-switch.form-switch-xl .form-check-label {
        height: 1.5rem;
        font-size:large;
        margin-left: 0.5rem;
    }


/*https://www.w3schools.com/howto/howto_css_tooltip.asp*/
/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

    /* Tooltip text */
    .tooltip .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: #555;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        /* Position the tooltip text */
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        margin-left: -60px;
        /* Fade in tooltip */
        opacity: 0;
        transition: opacity 0.3s;
    }

        /* Tooltip arrow */
        .tooltip .tooltiptext::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #555 transparent transparent transparent;
        }

    /* Show the tooltip text when you mouse over the tooltip container */
    .tooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }