.gametable {
    border: 2px solid black;
    background-color: darkgray;
}

.gamecell {
    border: 4px solid burlywood;
    border-radius: 10px;
    font-size: 40px;
    font-weight: 700;
    color: rgb(59, 51, 51);
    background-color: rgb(85, 69, 69);
    transition: background-color 1.5s;
}

.gamecellcontent {
    align-content: center;
    text-align: center;
    min-height: 70px;
    min-width: 70px;
}

.scoreth {
    width: 200px
}

.scordtd {
    text-align: center
}

@keyframes heartbeat {
    0% {
        transform: scale( .75 );
    }

    40% {
        transform: scale( 1 );
    }


    80% {
        transform: scale( .75 );
    }

    100% {
        transform: scale( 1 );
    }
}
td[data-added="true"] {
    animation-duration: 1s;
    animation-name: heartbeat;
}


td[data-value="2"] {
    background-color: rgb(238, 228, 218);
}

td[data-value="4"] {
    background-color: rgb(237, 224, 200);
}

td[data-value="8"] {
    background-color: rgb(242, 177, 121);
}

td[data-value="16"] {
    background-color: rgb(245, 149, 99);
}

td[data-value="32"] {
    background-color: rgb(246, 124, 95);
}

td[data-value="64"] {
    background-color: rgb(246, 94, 59);
}

td[data-value="128"] {
    background-color: rgb(237, 207, 114);
}

td[data-value="256"] {
    background-color: rgb(237, 204, 97);
}

td[data-value="512"] {
    background-color: rgb(237, 200, 80);
}

td[data-value="1024"] {
    background-color: rgb(237, 197, 63);
}

td[data-value="2048"] {
    background-color: rgb(237, 194, 46);
}
